.form-element {
    width: 90%;
    margin: 1%;
    padding: 0% 2%;
}
.card-title {
    width: 70%;
    height: 30px;
}
.btn-right {
    float: right;
    margin: 1%;
    cursor: pointer;
}
.card-text {
    width: 70%;
}
.card-form{
    border: 1px solid gray;
    margin: 4% 0% 4% 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.pointer {
    cursor: pointer;
}